# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#frontend
# dependencies
frontend/node_modules
frontend/.pnp
.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


#backend
*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
backend/dist/
backend/docs/_build/
backend/docs/locale/
backend/node_modules/
backend/tests/coverage_html/
backend/tests/.coverage
backend/build/
backend/tests/report/

/venv
